pass.txt
example_users_credentials.txt
*.env
.env.*

db.sqlite3

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

media/offers_photos/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
